In [2]:
import pandas as pd
import seaborn as sns
import ydata_profiling
import numpy as np

In [3]:
#g_profile1 = pd.read_csv("dataframe/g_profile1/g_profile1_final.csv")
#j_profile2 = pd.read_csv("dataframe/j_profile2/j_profile2_final.csv")
p_profile3 = pd.read_csv("dataframe/p_profile3/p_profile3_final.csv")
#c_profile4 = pd.read_csv("dataframe/c_profile4/c_profile4_final.csv")

In [4]:
p_profile3.shape

(93, 11)

In [5]:
p_profile3.dtypes

Profile Name/ID    object
Video ID           object
Title              object
Author Channel     object
Action             object
Was commented       int64
Comment            object
Date               object
Time               object
Tags               object
Rating             object
dtype: object

In [7]:
# Checando por linhas duplicadas
p_profile3[p_profile3.duplicated()]

Empty DataFrame
Columns: [Profile Name/ID, Video ID, Title, Author Channel, Action, Was commented, Comment, Date, Time, Tags, Rating]
Index: []

In [8]:
# Checando valores faltantes por feature
p_profile3.isna().sum()

Profile Name/ID    0
Video ID           0
Title              0
Author Channel     0
Action             0
Was commented      0
Comment            0
Date               0
Time               0
Tags               0
Rating             0
dtype: int64

In [9]:
# number of missing cells
p_profile3.isna().sum().sum()

np.int64(0)

In [ ]:
p_profile3.describe() # apenas considera features (colunas) numéricas

       Was commented
count           93.0
mean             0.0
std              0.0
min              0.0
25%              0.0
50%              0.0
75%              0.0
max              0.0

In [11]:
# podemos usar inlucde='object' pra adicionar alguma info adicional em features categóricas, mas ainda sim é simples
p_profile3.describe(include='object')

,Profile Name/ID,Video ID,Title,Author Channel,Action,Comment,Date,Time,Tags,Rating
count,93,93,93,93,93,93,93,93,93,93
unique,1,89,89,44,1,1,11,93,69,2
top,Pedro Coimbra UCrHsJfFvvBfrYj_RYjilBgg,ezPQyB6iXg0,POV- 4 hours of barista shift (compilation),Edson Castro [Oficial],Watched,-,28-05-2025,08:48:45,"vídeo, compartilhamento, celular com câmera, v...",-
freq,93,2,2,11,93,93,18,1,22,90

In [12]:
from ydata_profiling import ProfileReport

profile = ProfileReport(p_profile3, title='p_profile 3')
profile.to_file('eda_results/p_profile3.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 11/11 [00:00<00:00, 1288.39it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]